<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout (~{::body}, 'frameworks')}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frameworks</title>
</head>
<body>

<h2 th:text="'FRAMEWORKS'" style="text-align: center">USED FRAMEWORKS</h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            th:src="@{resources/images/thymeleaf.png}"
                            alt="thymeleaf"></p>
                    <h4 class="card-title">Thymeleaf</h4>
                    <div class="well">
                        <p class="card-text">Thymeleaf is a modern server-side Java template engine for both web and
                            standalone environments.
                            Thymeleaf's main goal is to bring elegant natural templates to your development workflow —
                            HTML that can be correctly displayed in browsers and also work as static prototypes,
                            allowing for stronger collaboration in development teams.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            th:src="@{resources/images/springboot.png}"
                            alt="spring boot"></p>
                    <h4 class="card-title">Spring Boot</h4>
                    <div class="well">
                        <p class="card-text">Spring Boot makes it easy to create stand-alone, production-grade Spring
                            based Applications that you can "just run". With Spring Boot, you can focus more on business
                            features and less on infrastructure.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            th:src="@{resources/images/java.png}"
                            alt="java"></p>
                    <h4 class="card-title">Java</h4>
                    <div class="well">
                        <p class="card-text">Java is a class-based, object-oriented programming language that is
                            designed to have as few implementation dependencies as possible. It is a general-purpose
                            programming language intended to let application developers write once, run anywhere (WORA),
                            meaning that compiled Java code can run on all platforms that support Java without the need
                            for recompilation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            th:src="@{resources/images/bootstrap.png}"
                            alt="bootstrap"></p>
                    <h4 class="card-title">Bootstrap</h4>
                    <div class="well">
                        <p class="card-text">Bootstrap is a free and open-source CSS framework directed at responsive,
                            mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based
                            design templates for typography, forms, buttons, navigation, and other interface
                            components. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            th:src="@{resources/images/css.jpg}"
                            alt="css"></p>
                    <h4 class="card-title">CSS</h4>
                    <div class="well">
                        <p class="card-text">Cascading Style Sheets (CSS) is a style sheet language used for describing
                            the presentation of a document written in a markup language such as HTML. CSS is a
                            cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid"
                            th:src="@{resources/images/html.png}"
                            alt="html"></p>
                    <h4 class="card-title">HTML</h4>
                    <div class="well">
                        <p class="card-text">The HyperText Markup Language, or HTML(HyperText Markup Language) is the
                            standard markup language for documents designed to be displayed in a web browser. It can be
                            assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such
                            as JavaScript.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>